nav-content
  nav-icons(right, [currentPage]="'AccountSettingsPage'")

settings-page-with-menu.settings-page([currentPage]="'AccountSettingsPage'")
  ion-content.scrollable-content-wrapper
    .settings-content-wrapper
      .settings-header.no-button
        h1()
          | Account Settings
      .scroll-spacer
      .settings-body
        form([formGroup]="userForm", (ngSubmit)="updateCurrentUser()").team-member-form
          .member-photo-section
            .photo-wrapper
              img.member-photo([src]="localUrl", onError="this.src='../../assets/icon/settings/avatar.svg'")
            input#file.avatar-input(type="file", (change)="onFileChange($event)", name="file")
            label.choose-file-label(for="file")
              | Update photo
          .form-row
            ion-label(stacked) Name
            ion-input.user-name(formControlName="name", type="text")
          .form-row
            ion-label(stacked) Email
            ion-input(formControlName="email", type="email" )
          .form-row
            button.settings-button(ion-button, medium, type="submit")
              | update info
