ion-content(padding)
  form(#loginForm="ngForm", (ngSubmit)="login()", autocomplete="off")
    ion-row
      ion-col
        h1 Login to Boon
    ion-row
      ion-col
        ion-label(stacked) Email
        ion-input(name="email", type="email", [(ngModel)]="emailModel", required, #email)
    ion-row
      ion-col
        ion-label(stacked) Password
        ion-item
          ion-input(name="password", type="password", [(ngModel)]="passwordModel", required)
          button(clear, item-right, type="button", (click)="gotoForgot()") Forgot
    ion-row
      ion-col

    ion-row
      ion-col
        hr
    ion-row
      ion-col(col-4, offset-8)
        button(ion-button, full, type="submit", [disabled]="!loginForm.form.valid")
          | Login
