ion-content(padding)
  form(#newPasswordForm="ngForm", (ngSubmit)="createNewPassword()", autocomplete="off")
    ion-row
      ion-col
        h1 Create new password
    ion-row
      ion-col
        ion-label(stacked) Code
        ion-input.code(name="code", type="text", placeholder="Please enter the code sent to the provided email address.", [(ngModel)]="codeModel", required, #code)
    ion-row
      ion-col
        ion-label(stacked) New password
        ion-input.new-password(name="newPassword", type="password", placeholder="Please input new password", [(ngModel)]="newPasswordModel", required, #newPassword)
    ion-row
      ion-col
        ion-label(stacked) Confirm new password
        ion-input.confirm-password(name="confirmPassword", type="password", placeholder="Please input confirm password", [(ngModel)]="confirmPasswordModel", required, #confirmPassword)
    ion-row
      ion-col
        hr
    ion-row
      ion-col(col-8)
        div.label-comment
          ion-label(stacked) Remember your password?
          a.login((click)="goLogin()") Login here
      ion-col(col-4)
        button(ion-button, full, type="submit", [disabled]="!newPasswordForm.form.valid")
          | Submit Code
