@import 'theme/mixins';
@import 'theme/shared-classes';
@import 'theme/style-guide';
@import 'theme/variables';
$nav-left-width: 77px;
$nav-center-width: auto;
$nav-right-width: auto;
@mixin nav-logo($height) {
  align-items: center;
  display: flex;
  height: $height;
  justify-content: center;
  width: $nav-left-width;
  cursor: pointer;
}

@mixin nav-element {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

@mixin nav-center($height, $min-width) {
  border-left: 1px solid #dfe3eb;
  border-right: 1px solid #dfe3eb;
  flex-grow: 2;
  height: $height;
  min-width: $min-width;
  width: $nav-center-width;
  *[center] {
    @include nav-element;
  }
}

@mixin nav-right($height) {
  display: flex;
  height: $height;
  padding-left: 40px;
  width: $nav-right-width;
  *[right],
  .username {
    @include nav-element;
    padding-right: 28px;
  }
}

nav {
  .nav-container {
    @extend .center-y;
    height: $nav-height-mobile;
    @include md {
      height: $nav-height-large;
    }
    background: white;
    border-bottom: 1px solid #dfe3eb;
    margin: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    @include xs {
      .nav-logo {
        @include nav-logo($nav-height-mobile);
        min-width: 77px;
      }
      .nav-center {
        @include nav-center($nav-height-mobile, 0px);
        display: flex;
        border-right: none;
      }
      .nav-right {
        @include nav-right($nav-height-mobile);
        justify-content: flex-end;
      }
    }
    @include md {
      .nav-logo {
        @include nav-logo($nav-height-large);
      }
      .nav-center {
        @include nav-center($nav-height-large, 300px);
      }
      .nav-right {
        @include nav-right($nav-height-large);
      }
    }
    .search-bar {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      .search-icon {
        width: 25px;
      }
      .search-list {
        width: 100%;
        padding: 15px;
        .ui-autocomplete {
          width: 100%;
          input {
            width: 100%;
            font-size: 15px;
            border: 0;
            box-shadow: none;
          }
        }
        .ui-autocomplete-panel {
          max-height: 425px !important;
        }
        .ui-state-highlight {
          background-color: $color-content-background;
          color: $color-dark;
        }
        .search-item {
          margin-left: 20px;
          padding-bottom: 10px;
          border-bottom: 1px solid $color-card-border;
          .group-name {
            font-size: 16px;
            padding-bottom: 10px;
            color: $color-primary;
            font-weight: bold;
          }
          .item-name {
            font-size: 14px;
            font-weight: bold;
            padding-bottom: 5px;
          }
          .item-comment {
            color: $color-light-dark;
          }
        }
      }
    }
  }
  .username {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
  }
  .nav-container.hidden {
    display: none;
  }
  .spacing {
    height: $nav-height-mobile;
    @include md {
      height: $nav-height-large;
    }
    width: 100%;
  }
}
