nav-content
  nav-icons(right, currentPage="ContactPage")

ion-header.nav-pipelines
  ion-grid
    ion-row
      ion-col(col-auto)
        span([ngClass]="{'active': (areAllContactsVisible | async)}", (click)="onPipelineChange(undefined)") All Contacts
      ion-col(col-auto, *ngFor="let pipeline of (pipelines | async)")
        span([ngClass]="{'active': (activePipelineId | async) == pipeline.id}", (click)="onPipelineChange(pipeline.id)") {{pipeline.name}}

ion-content(padding)
  div.header-row
    h2 {{pipelineName | async}}
    button.new-contact(ion-button, (click)="newContact()") New Contact

  div.nav-stages([hidden]="areAllContactsVisible | async")
    pipeline([stages]="stagesForActivePipeline | async", type="select", (select)="onStageChange($event)")

  ion-grid.table
    ion-row.header
      ion-col Name
      ion-col Email
      ion-col(*ngIf="isStageColumnVisible | async") Stage
      ion-col Phone number
      ion-col Contact owner
      ion-col Created at
    ion-row.contact(*ngFor="let contact of (contacts | async)", (click)="showContact(contact)")
      ion-col {{contact.name || "-"}}
      ion-col {{contact.email || "-"}}
      ion-col(*ngIf="isStageColumnVisible | async") {{(stageForContact(contact) | async)?.name}}
      ion-col {{contact.phoneNumber || "-"}}
      ion-col {{contact.owner?.name || "-"}}
      ion-col {{contact.insertedAt | date:'MM/dd hh:mm a' || "-"}}
  ion-row.footer
    ion-col.center-y
      .showing-color Showing
      .showing-from {{showingLow}}
      .showing-color to
      .showing-to {{showingHigh}}
      .showing-color of
      .showing-total {{contactCount | async}} contacts
    ion-col(col-auto)
      button(ion-button, small, (click)="loadPrevPage()", [disabled]="isPrevPageButtonDisabled | async")
        ion-icon(name="ios-arrow-back-outline")
        span Prev
      button(ion-button, small, (click)="loadNextPage()", [disabled]="isNextPageButtonDisabled | async")
        span Next
        ion-icon(name="ios-arrow-forward-outline")
