nav-content
  nav-icons(right, currentPage="DealsIndexPage")

ion-content
  ion-grid.deals-index-header
    ion-row
      ion-col.header-info-group
        ion-col.deals-index-title 
          span.title All Deals
          ion-icon.arrow(name='md-arrow-dropdown')
        ion-col.deals-index-total {{count}} Total
        ion-col.deals-index-sort
          span.title Sort by:
          span.sort Date Added
          ion-icon.arrow(name='md-arrow-dropdown')
      ion-col.header-row
        button.new-deal(ion-button, (click)="newDeal()") New Deal


  ion-grid.table
      ion-row.header-row
        ion-col.deal-header Name
        ion-col.deal-header Email
        ion-col.deal-header Pipeline
        ion-col.deal-header Stage
        ion-col.deal-header Deal Value
        ion-col.deal-header Deal Owner
        .deal-end
          button(ion-button, small, (click)="goToPrev()")
            ion-icon.arrow(name="md-arrow-dropleft")
          button(ion-button, small, (click)="goToNext()")
            ion-icon.arrow(name="md-arrow-dropright")
      ion-row.deal(*ngFor="let deal of deals", (click)="showDeal(deal)")
        ion-col.deal {{deal.name || '-'}}
        ion-col.deal {{deal.email || '-'}}
        ion-col.deal {{deal.pipline || '-'}}
        ion-col.deal {{deal.stage || '-'}}
        ion-col.deal {{deal.value || '-'}}
        ion-col.deal {{deal.owner || '-'}}
        .deal-end
          ion-icon.more(name="ios-more")