@import 'theme/shared-classes';
@import 'theme/style-guide';
@import 'theme/mixins';
.template-page {
  &,
  .content {
    background-color: $color-content-background;
  }
  .form {
    .form-header {
      display: flex;
      padding: 10px 0;
      button {
        @extend .boon-button;
        margin: auto 0 auto auto;
        padding-left: 35px;
        padding-right: 35px;
      }
    }
    .form-body {
      @include border-radius($radius-size);
      background-color: #fff;
      border: 1px $color-border solid;
      padding: 8px 0;
      ion-grid,
      ion-grid ion-col {
        padding: 0;
      }
      ion-item {
        padding: 0;
        ion-label {
          padding: 0 20px;
          max-width: 160px;
          color: $color-text-primary;
          font-weight: 800;
        }
        textarea {
          min-height: 250px;
          padding: 4px 12px;
        }
        div:last-child {
          flex: 1;
        } // Overwrite Ionic's green bottom border using the same selector
        .item-inner,
        &.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus)
          .item-inner,
        .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus)
          .item-inner {
          @include box-shadow(0, 0, 0, $color-content-background);
          border-bottom: 1px solid #dedede;
        }
        &.item-without-border {
          .item-inner,
          &.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus)
            .item-inner,
          .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus)
            .item-inner {
            border-bottom: 0 none;
          }
        }
        &.shortcodes {
          ion-select {
            position: relative;
            width: 250px;
            border: 1px solid;
            border-bottom: 0;
            border-top: 0;
            border-color: #dedede;
            padding: 13px 0;
            .select-text {
              text-align: center;
            }
            .select-icon {
              display: none;
            }
          }
        }
      }
    }
  }
}

.popover-md .popover-viewport {
  opacity: 1;
}
