nav-content
  nav-icons(right, currentPage="TextTemplatesPage")

ion-content(padding)
  .form(*ngIf="formGroup | async; let form", [formGroup]="form")
    .form-header
      h2 Compose Text
      button(ion-button, (click)="save()", [disabled]="!form.valid") Save

    .form-body
      ion-item
        ion-label Name:
        ion-input(name="name", type="text", formControlName="name")
      ion-item
        ion-label Phone number:
        select(item-content, name="default_sender", formControlName="default_sender")
          option(*ngIf="initialMode == 'new'", value="")
          option(*ngFor="let option of (phoneNumbers | async)", [value]="option") {{option}}
        div(item-content)
      ion-item.shortcodes
        ion-label ShortCodes:
        ion-select([(ngModel)]='selectedShortCode', interface="popover", [ngModelOptions]="{standalone: true}", (ionChange)="itemSelected($event)", placeholder="Select Shortcode")
          ion-option(*ngFor="let name of shortcodeNames | async", [value]="name") {{name}}
      ion-item
        ion-textarea(name="content", formControlName="content")

