@import 'theme/shared-classes';
@import 'theme/style-guide';

journeys-page {
  &,
  .content {
    background-color: $color-content-background;
  }

  .content {
    .table {
      @extend .boon-table;
    }
  }

  .header {
    // added so that the header and row action columns line up properly
    .actions::before {
      @include bullet(transparent, '\25CF\25CF\25CF');
    }
  }

  .journey {
    cursor: pointer;

    .state-inactive::before {
      @include bullet(#fcc52d);
    }

    .state-active::before {
      @include bullet(#7ace4c);
    }

    .actions::before {
      @include bullet(#d8d8d8, '\25CF\25CF\25CF');
    }
  }

  button.new-journey {
    @extend .boon-button;

    float: right;
    margin-bottom: 10px;
    width: 180px;
  }
}
