h1
  | Tab Selector Style me!
button(*ngFor="let tab of tabs", (click)="selectTab(tab)")
  | {{tab}}
tab-deals(*ngIf="isSelected('Deals')")
tab-notes(*ngIf="isSelected('Notes')")
tab-activity(*ngIf="isSelected('Activity')")
tab-text(*ngIf="isSelected('Texting')")
tab-email(*ngIf="isSelected('Email')")

