@import 'theme/style-guide/global-colors';

$color-input-background: #fbfbfb;
$color-input-border: #d0d0d0;
$color-invalid-input-border: $color-invalid-primary;
$color-invalid-input-background: $color-invalid-primary-lt;
$padding-input-size: 12px;
$padding-label-size: 3px;
