$color-border: #e0e8eb;
$color-card-background: #fafafa;
$color-card-border: #d2d6e4;
$color-content-background: #f1f2f6;
$color-dark: #3e3e40;
$color-header: #282828;
$color-input-field-background: #f0f2f5;
$color-invalid-primary: #f53d3d;
$color-invalid-primary-lt: lighten($color-invalid-primary, 35%);
$color-valid-primary: #32db64;
$color-valid-primary-lt: lighten($color-valid-primary, 35%);
$color-light-dark: #8a96a0;
$color-nav-background: #ffffff;
$color-primary-lt: #eae3f9;
$color-primary: #835cdd;
$color-search-field-background: #ffffff;
