@import 'theme/style-guide/global-colors';
$color-text-primary: #313942;
$color-text-link: #e32a38;
$color-text-secondary: #90a4ae;
$font-size-primary: 12px;
$font-size-input-body: 12px;
$font-size-name: 15px;
$font-weight-name: 800;
$font-weight-headers: 600;
$font-weight-light: 200;
$font-size-link-mobile: 12px;
