ion-grid
  ion-row
    ion-col(col-2)
      ul.settings-menu
        div(*ngFor="let entry of (menu | async)")
          li(tappable, [ngClass]="{'active': isActive(entry)}", (mousedown)="goTo(entry.link, entry.params);")
              | {{entry.label}}
          li(*ngIf="isActive(entry) && entry.children")
            ul
              li(*ngFor="let child of entry.children", [ngClass]="{'active': isActive(child)}", tappable, (mousedown)="goTo(child.link, child.params)")
                | {{child.label}}
    ion-col.content
      ng-content
